* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #114357, #f29492);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: .3;
}
.container {
    width: 400px;
    animation: slideDown 1s ease;
}
.container h2{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
.form-box {
    background-color: rgba(240, 248, 255, 0.181);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}
.form-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #114357;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    user-select: all;
}
.btn {
    width: 100%;
    background-color: #114357;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: all 0.3s;
}
.btn:hover {
    color: #114357;
    font-weight: bold;
    background-color: #f29492;
}
a {
    color: #114357;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}

@keyframes slideDown {
    0%{
        transform: translateY(-120vh);
    }
    100%{
        transform: translateY(0vh);
    }
}