/* General Styles */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}
.bgVid{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(240, 248, 255, 0.544);
    backdrop-filter: blur(1px);
}
#navBarList a {
    padding: 7px 15px;
    border: 1px solid #333;
    border-radius: .8rem;
    font-weight: 500;
}
/* Main Section */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.544);
}

.donation-section {
    margin-top: 50px;
    padding: 50px;
    border-right: 1px solid #333;
}

.donation-section h1 {
    font-size: 40px; 
    color: #333;
    font-family: "Sofia", sans-serif;
    mix-blend-mode: color-burn;
}

.donation-section p {
    font-size: 18px;
    color: #777;
    mix-blend-mode: color-burn;
}

/* Donation Tiers */
.donation-tiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.tier-card {
    border-radius: 10px;
    padding: 20px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    min-width: 150px;
    transition: transform 0.3s;
}

.tier-card:hover {
    transform: scale(1.05);
}

.tier-card1 {
    background-color: #524208;
}

.tier-card2 {
    background-color: #09424d;
}

.tier-card3 {
    background-color: #074307;
}

.tier-info h3 {
    font-size: 28px;
    color: aliceblue;
}

.tier-info p {
    font-size: 21px;
    color: rgb(186, 194, 202);
    letter-spacing: 5px;
}

.tier-card video {
    width: 50%;
    border-radius: .5rem;
    mix-blend-mode:multiply;
    transition: all .5s;
}

.donate-button {
    width: 20rem;
    letter-spacing: 5px;
}

/* Donation Form */
#donationSection {
    scale: 80%;
    margin-bottom: 10px;
    padding: 20px;
    border: 4px solid goldenrod;
    border-radius: 1.5rem;
    backdrop-filter: blur(4px);
    color: #333;
    background-color: rgba(240, 248, 255, 0.162);
    transition: background-color .5s ease;
}
#donationSection p{
    font-size: 20px;
}
#donationSection:hover {
    background-color: rgba(0, 95, 51, 0.5);
}

.form-label {
    text-align: left;
}
.form-group{
    scale: 110%;
}

/* Footer Styles */
footer {
    background-color: rgba(255, 255, 255, 0.748);
    position: sticky;
    /* bottom: 0; */
    padding: 29px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333;
}
footer .footer-info p {
    margin: 0;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

@media (max-width: 920px) {
    .main-content{
        width: auto;
        height: auto;
    }
    .donation-section{
        border-right: none;
        border-bottom: 1px solid #333;
    }
}
@media (min-width: 1050px) {
    .main-content{
        width: 100%;
        height: 100vh;
    }
}